/* Base navbars */
div.collapse > ul > li > a:hover {
    background-color: grey;
}

div.offcanvas-body > nav > a:hover {
    background-color: lightgray;
}

/* Landing page carousel */
span.carousel-control-prev-icon {
    background-image: url('./../upload/ui-icons/previous.png');
}

span.carousel-control-next-icon {
    background-image: url('./../upload/ui-icons/next.png');
}

div.carousel-indicators {
    bottom: -20px;
}

#upcomingProductsCarousel {
    max-width: 100%;
    width: 480px;
}

/* Base navbar breakpoint*/
@media (max-width: 991px) {

    button[data-bs-target="#offcanvasAccount"] {
        order: -1;
    }

    button[data-bs-target="#collapsibleNav"] {
        order: -3;
    }

    .navbar-brand {
        order: -2;
    }
}

/* Styling for basic configurable options */
label.option-card {
    cursor: pointer;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.3s;
}

/* Once a radio button is selected the style is applied to the parent label */
input[type="radio"]:checked + label.option-card {
    background-color: rgba(0, 123, 255, 0.1);
}

/* For color circles */
.color-circle-wrapper {
    text-align: center;
    cursor: pointer;
}

.color-circle {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.3s;
}

input[type="radio"]:checked + .color-circle {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

.color-circle-wrapper:hover .color-circle {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Cart page*/
.quantity-selector {
    max-width: 50px;
}

.cart-thumbnail {
    max-width: 120px !important;
}

/* Orders */
.order-card:hover {
    background-color: darkgray;
}
